/* Breakpoints
mobile: 750px
tablet: 1145 */

@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --bg-color: #f2e8b6;
  --text-color: #1a1a1a;
  --accent-color: #b7f889;
  --accent-color-2: #d6bd42;
  --font-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark {
  --bg-color: #4a1919;
  --text-color: #eee8cd;
  --accent-color: #8e2f2f;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  padding: 60px 16%;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg.jpg") repeat;
  background-size: auto;
  mix-blend-mode: overlay;
  opacity: 0.3;
  pointer-events: none;
  z-index: -1;
}

@media (max-width: 1145px) {
  html,
  body {
    padding: 40px 8%;
  }
}

/* Navbar */

.navbar {
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  /* opacity: 0.7; */
  color: var(--accent-color-2);
  transition: color 0.3s ease;
}

.navbar-title {
  text-align: center;
  font-size: 1.8rem;
  color: var(--text-color);
  margin: 0;
}

.icon-set {
  display: flex;
  gap: 15px;
}

.icon {
  color: var(--text-color);
  font-size: 1.4rem;
}

.icon:hover {
  color: var(--accent-color-2);
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-title {
    font-size: 1.4rem;
  }
  .icon-set {
    margin-top: 10px;
  }
  .icon {
    font-size: 1.2rem;
  }
}

/* Introduction Section */

.intro-section {
  padding: 20px 0px;
}

.intro-text {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.6;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .intro-text {
    text-align: center;
  }
}

.generation{
  align-items: center;
  justify-content: center;
}

/* Projects */

.project-heading {
  font-size: 1.6rem;
  color: var(--text-color);
}

@media (max-width: 750px) {
  .project-heading {
    text-align: center;
    font-size: 1.2rem;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: flex-start;
}

.project-card {
  border-top: var(--text-color) solid 1px;
  padding: 10px 10px;
}

.project-card a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding-bottom: 2%;
}

.project-card:hover {
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.right .project-title {
  margin: 0;
}

.year {
  margin: 0;
}

.tags {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  padding: 4px 10px;
  border: var(--text-color) solid 1px;
  border-radius: 9999px;
  font-size: 0.9rem;
}

.year-heading {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: bold;
  padding: 0 10px;
}

@media (max-width: 750px) {
  .project-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}


/* Generative Art */

#canvas-wrapper {
  width: 100%; /* or whatever size */
  max-width: 600px;
  align-items: center;
}

#art {
  width: 100%; /* responsive */
  height: auto; /* keep aspect ratio */
  display: block;
}

/* The '?' icon */
.info-icon {
  position: relative;
}

.tip {
  opacity: 0;
  position: absolute;
  top: -75px;
  left: 75%;
  width: 300px;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  background-color: var(--accent-color);
  padding: 5px 10px;
  poroer-events: none; 
}

.info-icon:hover .tip {
  opacity: 1;
}

/* Footer */

.footer {
  text-align: center;
  padding: 20px 0 0;
  font-size: 0.9rem;
}
