/* Breakpoints
mobile: 750px
tablet: 1145 */

@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --bg-color: #f2e8b6;
  --text-color: #1a1a1a;
  --text-color-2: #eee8cd;
  --accent-color: rgb(238, 226, 148);
  --accent-color-2: #d6bd42;
  --font-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dark {
  --bg-color: #4a1919;
  --text-color: #eee8cd;
  --text-color-2: #1a1a1a;
  --accent-color: #7e062cff;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  padding: 40px 10%;
  margin: 0;
  min-height: 100vh;
  position: relative;
  z-index: 0; 
}

#page-content {
  background-color: var(--bg-color);
  padding: 5% 10%;
}

/* Navbar */

.navbar {
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-item {
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  /* opacity: 0.7; */
  color: var(--accent-color-2);
  transition: color 0.3s ease;
}

.page-title {
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 40px 0 0;
}

.icon-set {
  display: flex;
  gap: 15px;
}

.icon {
  color: var(--text-color);
  font-size: 1.4rem;
}

.icon:hover {
  color: var(--accent-color-2);
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-title {
    font-size: 1.4rem;
  }
  .icon-set {
    margin-top: 10px;
  }
  .icon {
    font-size: 1.2rem;
  }
}

/* Introduction Section */

.intro-section {
  padding: 20px 0px;
}

.intro-text {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.6;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .intro-text {
    text-align: center;
  }
}

.generation{
  align-items: center;
  justify-content: center;
}

/* Reading */

.reading-table {
  display: grid;
  gap: 1.2rem;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr 0.6fr 0.4fr;
  align-items: center;
  border-bottom: 1px solid var(--accent-color-2);
}

.row.header {
  font-weight: 600;
}

.book_name {
  font-size: 1rem;
  font-weight: 500;
}

.book_name a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

.book_name a:hover {
  color: var(--accent-color-2); /* subtle highlight */
  text-decoration: underline;
}


.notes {
  grid-column: 1 / -1;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.notes.show {
  opacity: 1;
  height: auto;
  padding: 10px 10px 0 ;
  border-left:2px solid var(--accent-color-2) ;
}

.read-btn {
  grid-column: 1 / -1;
  text-align: left;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

/* Projects */

.project-heading {
  font-size: 1.6rem;
  color: var(--text-color);
}

@media (max-width: 750px) {
  .project-heading {
    text-align: center;
    font-size: 1.2rem;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: flex-start;
}

.project-card {
  border-top: var(--text-color) solid 1px;
  padding: 10px 10px;
}

.project-card a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding-bottom: 2%;
}

.project-card:hover {
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.year {
  margin: 0;
}

.tags {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  padding: 4px 10px;
  border: var(--text-color) solid 1px;
  border-radius: 9999px;
  font-size: 0.9rem;
}

.year-heading {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: bold;
  padding: 0 10px;
}

@media (max-width: 750px) {
  .project-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}


/* Generative Art */

#canvas-wrapper {
  position: fixed;
  inset: 0;            
  z-index: -999;         
  overflow: hidden;
}

#canvas-wrapper canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  opacity: 80%;
  cursor: pointer;
}

#art {
  width: 100%; 
  height: auto; 
  display: block;
}

.bg-tip {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
  font-size: 0.8rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 1%;
}

.bg-tip {
  position: fixed;
}

.info-icon {
  font-weight: bold;
  font-size: 0.8rem;
  position: relative; 
}

.tip {
  position: absolute;
  bottom: 100%; 
  right: 0;
  background: var(--text-color);
  color:  var(--bg-color);
  padding: 10px 14px;
  max-width: 324px;
  font-size: 0.8rem;
  opacity: 0;
  transform: translateY(6px);
  pointer-events: none;
  white-space: normal;
}

.info-icon:hover + .tip {
  opacity: 1;
  transform: translateY(0);
}


/* Footer */

.footer {
  text-align: center;
  padding: 20px 0 0;
  font-size: 0.9rem;
}
